<div class='resource-show'>
<h2>
	<%= @term.get_objects(RDF::RDFS.label => {:first=> true, :simple_value => :value, :context => @context}) %>
	<br/>
	<span style="font-size: 0.6em;">
		<a href='<%= @term.uri %>' target="_blank"><%= @term.uri %></a>
	</span>
</h2>

<hr/>

<strong class="label">Description:</strong>

<% @term.get_objects(RDF::RDFS.comment => {:simple_value => :value, :context => @context}).each do |comment| %>
	<p class="indent">
	  <%= "#{comment}" %>	
	</p>  
<% end %>

<strong class="label">Gold Mapping:</strong>

<ul>
  <% @meaning_nodes.each do |meaning| %>
    <li>
      <% label = meaning.get_objects(RDF::RDFS.label => {:first=> true, :simple_value => :value, :context => @gold_context}) %>
      <%= link_to_dtapp(label, 'ontology_class_view', meaning.localname) %>
      &nbsp;:&nbsp;
      <%= meaning.get_objects(RDF::RDFS.comment => {:first=> true, :simple_value => :value, :context => @gold_context}) %>
    </li>
  <% end %>
</ul>

</div>