<div class='resource-show'>
<h2>
	<%= @termset.get_objects(RDF::RDFS.label => {:first=> true, :simple_value => :value, :context => @context}) %>
	<br/>
	<span style="font-size: 0.6em;">
		<a href='<%= @termset.uri %>' target="_blank"><%= @termset.uri %></a>
	</span>
</h2>

<hr/>

<strong class="label">Description:</strong>

<% @termset.get_objects(RDF::RDFS.comment => {:simple_value => :value, :context => @context}).each do |comment| %>
	<p class="indent">
	  <%= "#{comment}" %>	
	</p>  
<% end %>

<hr/>

<strong class="label">Terms:</strong>

<ul class="indent">
  <% @terms.each do |term| %>
    <li>
      <% label = term.get_objects(RDF::RDFS.label => {:first=> true, :simple_value => :value, :context => @context}) %>
      <%= link_to_dtapp(label, 'terms_view', term.localname, @context.id ) %>
      &nbsp;:&nbsp;
      <%= term.get_objects(RDF::RDFS.comment => {:first=> true, :simple_value => :value, :context => @context}) %>
    </li>
  <% end %>
</ul>

</div>