<div class='resource-show'>
<h2>
	<%= @context.name %>
	<br/>
</h2>

<b>Download: </b><%= link_to "rdf", "contexts/#{@context.id}.rdf" %> (ntriples)

<hr/>

<ul>
  <% @context.resource_counts.each_pair do |type, count| %>
    <li><%= link_to_resources( type, @context.id ) %> : <%= count %></li>
  <% end %>
</ul>

<hr/>

<strong class="label">Description:</strong>

	<p class="indent">
	  <%= @context.description %>	
	</p> 
	
</div>